*{box-sizing: border-box;}

body{
    margin: 0;
  

}
main{
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard{
    
    display: flex;
    flex-direction:column;
    border: 2px solid black;
    padding: 20px;
    gap: 12px;
    max-width: 900px;
    

}


.content{ display: flex;
  flex-wrap: wrap;
    }

    
.row{ border: 2px solid red;
    padding: 20px;
    gap: 12px;
    display: flex;
 flex-direction: row;
 

   
    
}
.col{border: 2px solid blue;
padding: 20px;
gap: 12px;

 

}
.flex-row{ 

    border: 2px solid rgb(35, 21, 181);
        padding: 20px;

}

.flex-col{
    border: 2px solid yellow;
    display: flex;
 flex-direction:column;
    
}

.col1{flex: 1 1 150px;}