box-sizing:border box ;

body {margin: 0;}

.layout{ display: flex;
    flex-direction: row;
}

.layout > .nav-bar {height: 100vh;
overflow-y: auto;
overflow-x: hidden;
max-width: 250px;
min-width: 150px;
flex-grow: 1;
flex-shrink: 1;
flex-basis: 0;
padding: 20px;
background-color: aqua;}

.nav-bar > nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nav-bar > nav > a {
    text-decoration: none;
    font-size: 50px;
}


.content{ 
    
    height: 100vh;
    overflow: auto;
    padding: 20px;
flex-grow: 1;
flex-shrink: 1;
flex-basis: auto;}


.cardsection{ display: flex;
flex-direction: row;
gap: 12px;
flex-wrap: wrap;}

.card{
    height: 150px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 150px;
    background-color: blue;
}