* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "New Tegomin";

  font-style: normal;
  font-variant: normal;
}

header {
  background-color: #8cd0e3;
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  margin: 0 auto;
  position: sticky;
  top: 0 !important;
  z-index: 4;
  padding: 10px 0 5px;
  width: 100%;
  left: 0;
  right: 0;
  float: none;
  height: auto;
}
.header {
  display: flex;
  margin: auto;
  flex-direction: row;
  align-items: center;
}

.navbar-brand {
  margin: 0;
  font-size: 4rem;
  font-weight: 1000;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 20%;
  color: #fff;
}

.second-div-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  --bs-nav-link-color: #fefefe;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.navUser-section {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navUser-section li {
  display: inline-block;
  min-width: 5em;
  margin: 0 0.5em;
}
.navUser-section a {
  text-decoration: none;
  display: block;
  position: relative;
  color: rgb(254, 251, 251);
  padding: 0.5em 0;
}

.navUser-section a:hover {
  color: rgb(6, 6, 6);
}
