body{
    margin: 0;
    height: 100vh;
}
.layout{
    display: flex;
    flex-direction: row;
}

.layout > .sidebar{
    background-color: aqua;
    font-size: 20px;
    width:30%;
    padding:20px;
    overflow-y: auto;
    overflow-x: hidden;
    height:100vh  ;
    max-width: 200px;
    
}

.sidebar> nav{
    display: flex;
    flex-direction: column;
    
    gap: 8px;
}

.sidebar> nav > a{
    text-decoration: none;
    font-size: 20px;
}
.content{
    
    
    padding: 20px;
    width: 60%;
    
    overflow: auto;
    height: calc(100vh- 40px);
    
}

.card-section {
   
   
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: auto;
    gap: 12px;




}
.card{
    width: 25%;
    height: 50px;
    background-color: antiquewhite;
}